<form id="upload">
<div class="outer">
    <div>
      <center>
      <h1>POPii Administration System</h1>
      </center>

<ul class="bar">
<li>
<a href="/PromoCodes" >Promo Codes</a>
</li>
<li>
<a href="/logout" >Logout</a>
</li>
</ul>

  </div>
</form>