<script>
function validate(){
var username = document.getElementById("username").value;
var password = document.getElementById("password").value;
if ( username == "")
{
alert("Please enter username");
return false;
}
if (password == "")
{
alert("Please enter password");
return false;
}
}
</script>
<section class="container">
    <div class="login">
      <img src="/images/logo.png" >
      <form method="post" action="/login">
        <p><input type="text" id="username" name="username" value="" placeholder="Username"></p>
        <p><input type="password" id="password" name="password" value="" placeholder="Password"></p>
        <p class="submit"><input type="submit" id="save" value="Login" onclick="validate()"></p>
      </form>
    </div>
  </section>